@import "../../common.scss";
.currency {
  background-color: #efeded;
  color: black;
  padding: 0;
  margin-top: 2rem;
}
.title {
  background-color: $color_main;
  color: $color_white;
  padding: 0.5rem;
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.main_unit {
  padding: 0.2rem;
  box-sizing: border-box;
}
.row {
  display: flex;
  background-color: $color_white;
  margin: 1rem;
  justify-content: space-around;
  border-bottom: 3px solid $color_main;
  padding: 0.5rem;
  overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.row_p {
  width: 3rem;
  text-align: center;
}
p {
  margin: 0;
}
.input {
  width: 3rem;
  background-color: $color_white;
  color: black;
  border: none;
  text-align: center;
}
.input:focus-visible {
  outline: 1px solid $color_white;
}
.error {
  color: red;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #f46e66 transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 991px) {
  .currency {
    margin: 0;
  }
  .input {
    width: 2.5rem;
    text-align: center;
  }
  .row_p {
    width: 2rem;
  }
  .row {
    margin: 1rem;
    padding: 0.2rem;
  }
}
@media (max-width: 767px) {
  .currency {
    margin-top: 2rem;
  }
}
