@import '../../common.scss';

.news_list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.newsCard_wrap {
  position: relative;
  display: flex;
  //flex: 1 1 auto;
  flex-direction: column;

  .newsCard_thumb_img {
    position: relative;
    z-index: 1;
    width: 100%;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }

  .newsCard_body {
    position: unset;
    justify-content: space-between;
    padding: 0;
    background: unset;

    h3 {
      color: $color_black;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.2;
    }

    .userDate_info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: $color_grey_news_info;
      font-size: 0.66667rem;
      line-height: 0.88889rem;
    }
  }

  .description {
    margin: 0;
    margin-top: 0.5rem;
    color: $color_grey_news_info;
    font-size: 1rem;
  }
}
