$color_main: #F46E66;
$color_secondary: #F89734;
$color_grey: #C4C4C4;
$color_dark_grey: #444444;
$color_light_grey: #efeded;
$color_grey_news_info: #1F1C1C;
$color_white: #FFFFFF;
$color_black: #000000;
$color_blue: #99c0e9;