$color_main: #f46e66;
$color_secondary: #f89734;
$color_grey: #c4c4c4;
$color_dark_grey: #444444;
$color_grey_news_info: #1f1c1c;
$color_white: #ffffff;
$color_black: #000000;
$color_light_grey: #efeded;
$color_blue: #99c0e9;
